.contAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: #eee;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLogin{
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFF;
    overflow-y: auto;
}
.logo {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(85, 178, 255);
}
.errorN1 {
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
}
.form-label {
  font-weight: 700;
}
.form-control, .form-select{
  font-weight: 600;
}
